name: 'Check'

on:
  push:
    branches:
      - 'master'

  pull_request:
    types:
      - opened
      - synchronize

  workflow_dispatch:

jobs:
  build:
    uses: SlashNephy/.github/.github/workflows/go-run.yml@master
    permissions:
      contents: 'read'
    with:
      command: 'make build'
